<p> Welcome to Foody</p>


<a class="btn btn-secondary" asp-action="Login" asp-controller="Users">
    <i class="bi bi-plus-circle-dotted btn-lg"></i>
   login
</a>

<a class="btn btn-secondary" asp-action="Signup" asp-controller="Users">
    <i class="bi bi-plus-circle-dotted btn-lg"></i>
    sign up
</a>

